<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Prathama Chikitse"
        android:theme="@style/Theme.PrathamaChikitse">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCdXHhzQZbyJGDs0m7DXqd4yc1uIZnVCyg" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".dashboard.DashboardActivity" />
        <activity android:name=".auth.RegisterActivity" />
        <activity android:name=".models.AppointmentActivity" />
        <activity android:name=".map.HospitalMapActivity" />
        <activity android:name=".ai.GeminiActivity" />
        <activity android:name=".telemedicine.TelemedicineActivity" />
        <activity android:name=".telemedicine.VideoCallActivity" />
        <activity android:name=".firstaid.FirstAidActivity" />
        <activity android:name=".firstaid.EmergencyGuidesActivity" />
        <activity android:name=".dashboard.PatientActivity" />
        <activity android:name=".dashboard.PatientListActivity" />
        <activity android:name=".dashboard.PatientDetailActivity" />
        <activity android:name=".dashboard.PatientEditActivity" />
        <activity android:name=".dashboard.MedicineListActivity" />
        <activity android:name=".bpchart.BPChartActivity" />

    </application>

</manifest>